<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pes12.pickanevent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.VerInfoGrupoActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.CrearEventoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.EditarEventoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.BuscarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.VerInfoEventoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.VerInfoOtroUsuarioActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.CrearUsuarioActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.BuscarEventoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.VerEventosUsuariosQueSigoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.CrearGrupoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.EditarGrupoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.PerfilUsuarioActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitterlogin"
                    android:scheme="x-oauthflow-twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.VerGruposCreadosActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.IndicarTagsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.VerGruposConTagActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="42c3fa39b750f2917f569731e9dba00f1c6bc6f5" />

        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>