<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pes12.pickanevent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.VerInfoGrupoActivity" />
        <activity android:name=".view.CrearEventoActivity" />
        <activity android:name=".view.EditarEventoActivity" />
        <activity android:name=".view.BuscarActivity" />
        <activity android:name=".view.VerInfoEventoActivity" />
        <activity android:name=".view.VerInfoOtroUsuarioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.CrearUsuarioActivity" />
        <activity android:name=".view.BuscarEventoActivity" />
        <activity android:name=".view.VerEventosUsuariosQueSigoActivity" />
        <activity android:name=".view.CrearGrupoActivity" />
        <activity android:name=".view.EditarGrupoActivity" />
        <activity android:name=".view.PerfilUsuarioActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitterlogin"
                    android:scheme="x-oauthflow-twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.VerGruposCreadosActivity" />
        <activity android:name=".view.IndicarTagsActivity" />
        <activity android:name=".view.VerGruposConTagActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="42c3fa39b750f2917f569731e9dba00f1c6bc6f5" />

        <activity
            android:name=".view.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>